body {
	margin: 0;
	font-size: 12.5pt;
	font-family: 'Playfair Display', serif;
	line-height: 1.6em;
	background-color: #2C3639;
	color: #DCD7C9;
}

div#c {
	min-width: 20em;
	max-width: 40em;
	margin-top: 7%;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 7%;
}

a:link {
	text-decoration: underline;
	color: #DCD7C9;
}

a:visited {
	color: #DCD7C9;
}

a:hover {
	background-color: rgba(0, 0, 0, 0.18);
}

div#header * {
	margin: 0 0.25em 0 0;
}

div#header a {
	text-decoration: none;
	border-bottom: solid 1px #DCD7C9;
}

/* ::after,a [rel*=external] {
	content:" " url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20class='i-external'%20viewBox='0%200%2032%2032'%20width='14'%20height='14'%20fill='none'%20stroke='%23ff9800'%20stroke-linecap='round'%20stroke-linejoin='round'%20stroke-width='9.38%'%3E%3Cpath%20d='M14%209%20L3%209%203%2029%2023%2029%2023%2018%20M18%204%20L28%204%2028%2014%20M28%204%20L14%2018'/%3E%3C/svg%3E")
} */