body {
	margin: 0;
	font-size: 11pt;
	font-family: "Source Code Pro", monospace; /*Merriweather, serif;  'Playfair Display, Metrophobic, Cairo'*/
	line-height: 1.5em;
	background-color: #1a1b1e; /*#222223; /* #2C3639; */
	color: #ccc;
	min-width: 20em;
	max-width: 40em;
	margin-top: 7%;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 7%;
}

@media screen and (max-width: 768px) {
    body {
        margin: 5%;
        min-width: auto;
        max-width: none;
    }
}

img {
	margin-top: 1rem;
    max-width: 100%;
    height: auto;
}

a:link {
	text-decoration: underline;
	color: #ccc;
}

a:visited {
	color: #ccc;
}

/* a:hover {
	background-color: rgba(0, 0, 0, 0.33);
} */

div#header * {
	margin: 0 0.25em 0 0;
}

div#header a {
	text-decoration: none;
	border-bottom: solid 1px #DCD7C9;
}

.small-text {
	font-size: 0.8rem;
}

ul {
	margin-top: none;
}

.name {
	font-size: 14pt;
}
